<div class="mt-4">
    <div class="row">
        <div class="col-lg-6">
            <img src="{{menWatch.image}}" width = "394" height="394" alt="{{menWatch.name}}">
            <h3>Thông tin chi tiết</h3>
        </div>
        <div class="col-lg-6">
            <h4>Cấu hình {{menWatch.name}}</h4><br>
            <h5>Đối tượng sử dụng: {{menWatch.userObject}}</h5>
            <h5>Đường kính mặt: {{menWatch.diameter}}</h5>
            <h5>Chất liệu mặt kính: {{menWatch.material}}</h5>
            <h5>Chất liệu dây: {{menWatch.strapMaterial}}</h5>
            <h5>Bộ máy: {{menWatch.typeMachine}}</h5>
            <h5>Chống nước: {{menWatch.waterResist}}</h5>
            <h5>Thương hiệu: {{menWatch.brand}}</h5>
            <h5>Hãng: {{menWatch.company}}</h5>    
        </div>
    </div>
</div>